/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Body Style */
body{
    font-family: 'Poppins', sans-serif;
}
/* Styling the First Section */
.First-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #2d25a0;
    column-gap: 102px;
    width: 1440px;
    height: 677px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0%;

}
/* Styling The Title */
.Title-container{
    margin-top: 100px;
    margin-left: 156px;
    margin-bottom: 169px;
}
.header h1{
    display: block;
    width: 485px;
    height: 230px;
    margin-left: 0%;
    margin-top: 107px;
    margin-right: 0%;
    font-size: 64px;
    padding: 0%;
    line-height: 80px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Header Animation */
/* Hover for only screens greater than 688px */
 @media (min-width: 688px){
     h1:hover{
    color: rgb(60, 190, 241);
    transform: scale(1.3);
    transition: color 3s ease, scale 3s ease;
}
}
/* Styling The Clickable Button */
.Top-button{
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 27px;
    width: 144px;
    height: 34px;  
    text-align: center;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 5px;
    display: flexbox;
    justify-content: space-between;
    align-items: center;

}
/* Button Animation */
/* Hover for only screens greater than 688px */
@media (min-width: 688px){
    .Top-button:hover{
    transform: scale(1.08);
    transition: transform 0.2s linear;
}
}
/* Styling the texts inside the button */
.button{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 30px;
    width: 88px;
    height: 24px;
    text-decoration: none;
    text-align: center;
}
/* Styling The Arrow Icon */
.fa-arrow-right{
    align-items: center;
    transform: scale(1.4,1.1);
    width: 24px;
    height: 24px;
    margin-left: 4px;
}

/* Top Image Styling */
.Top-image img{
    width: 556px;
    height: 456px;
    margin-top: 135px;
    margin-right: 140px;
    margin-bottom: 86px;
}
/* Image animation */
@media (min-width: 688px){
    .Top-image:hover{
    transform: scale(1.4);
    transition: transform 8s ease 0.2s;
    }
}
/* .................................................................
                     Style Of Blog Section 
     .............................................................*/
    .blog-section{
        background-color: white;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 27px;
        grid-column-gap: 30px;
        margin-left: 180px;
        margin-top: 70px;
        margin-right: 210px;
        margin-bottom: 50px;
        

    }
    .blog{
        display: flex;
        flex-direction: column;
        width: 330px;
        height: 474px;
        border: 1px solid whitesmoke ;
        border-radius: 5px;
        box-shadow: 5px gray;
        padding-bottom: 33px;

    }
    /* image styling */
     .thumbnail{
         margin: 15px;
         padding: 0%;
     }
     .thumbnail img{
        width: 300px;
        height: 256px;
     }
     /* Player Name Styling */
     h2{
        font-size: 28px;
        font-weight: 700;
        margin: 0%;
     }
     /* Player Details Styling */
     .player-profile{
        margin: 0px 15px 33px;
        height: 154px;
        width: 300px;
        /* padding: 0%; */
        margin-bottom: 18px;
     }

     .player-details{
         height: 104px;
         width: 300px;
         margin-top: 10px;
         margin-bottom: 15px;
        
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        font-style: normal;
    }
    /* ......................................................
                bottom section design           
       ...................................................... */
       .bottom-section{
         width: 1200px;
        height: 600px;
        margin-left: 180px;
        margin-right: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
       }
       .more-info{
        display: flex;
        flex-direction: column;
        text-align: left;
       }
       .info-title h2{
           font-size: 46px;
           line-height: 55px;
           width: 466px;
           height: 130px;
            color: #0A0826;
       }
       .information p{
           width: 400px;
           height: 300px;
           border: 4px solid #0A0826;
           box-shadow: lavenderblush;
           overflow: scroll;
           overflow-x: hidden;
       }
       .youtube-video{
           margin-top: 120px;
       }
       /* Tooltip text */
       @media (min-width: 688px){
           .youtube-video:hover .tooltiptext {
        visibility: visible;
           }
      }
.youtube-video .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #0A0826;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
/* .................. Footer Style.................... */
 .footer-section{
     width: 484px;
     height: 150;
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 5px;
    margin-left: 475px;
    text-align: center;
 }
 .bottom-image{
     margin: 0%;
     padding: 0%;
     width: 484px;
    height: 110px;

 }

.bottom-image img{
        width: 484px;
        height: 110px;
}
.icon{
     display: grid;
     grid-template-columns: 40px 40px 40px 40px;
     column-gap: 3px;
     
 }
 .fab {
     font-size: 40px;
     color: #0A0826;

 }
 .copyright{
     font-size: 18px;
     line-height: 24px;
     font-weight: normal;
 }
       .far{
           color: black;
           font-size: 18px;
       }
       /* .............................................
                    Responsive- Media Query              
         ................................................   */
     
     /* ...........................................
                     Mobile Devices                              
     .............................................. */
     @media only screen and (max-width:688px) {
        .First-section{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            width: 100%
     }
     .Title-container{
         margin:0%
         }
         .header h1{
             width: 90%;
             font-size: 50px;
         }
         .Top-image img{
             width: 80%;
             margin-left: 5px;
         }
         .Top-image{
             width: 100%;
             margin: 0%;
         }
/* .............Blog Section Design........ */
         .blog-section{
             width: 90%
             margin: 5px;
             display: grid;
            grid-template-columns:repeat(1, 1fr);
            margin:0%;


         }
         .blog{
            display: flex;
            flex-direction: column;
            width: 100%;
         }
         .thumbnail{
            margin: 0%;
            padding: 0%;
        }
        .thumbnail img{
           width: 300px;
           height: 256px;
        }
        .player-profile{
            width: 100%;
        }
        /* ..........Bottom Section Design......... */
        .bottom-section{
            width: 100%;
        }
        .more-info{
            display: flex;
            flex-direction: row;
        }
         .info-title h2{
             font-size: 35px;
         }
         .youtube-video{
             width: 100%;
         }
         .footer-section{
             width: 100%;

    }
     
     
    
     